### Pandas Notes


> - Pandas series is a given sequence of data indexed by a given index indentifier, that could be a number, string or date, etc..
> - 
> - 

<img src="pandas.png" width="300" height = "300">

## Import Packages

In [2]:
import pandas as pd
import numpy as np

### Pandas - Series

In [8]:
scores = pd.Series(np.arange(4, 10))
scores

0    4
1    5
2    6
3    7
4    8
5    9
dtype: int32

#### Naming a series - for better documentation

In [9]:
scores.name = "Scores of students"
scores

0    4
1    5
2    6
3    7
4    8
5    9
Name: Scores of students, dtype: int32

#### Values of a series

In [10]:
scores.values

array([4, 5, 6, 7, 8, 9])

#### Accessing & Slicing
they are the same as NumPy Fundamenals

In [15]:
scores[0]

4

In [14]:
scores[0:3]

0    4
1    5
2    6
Name: Scores of students, dtype: int32

#### Index of a series

In [16]:
scores.index

RangeIndex(start=0, stop=6, step=1)

#### Changing the index 'lables' of a series

In [30]:
labels = [
    'Jackson', 
    'Peter',
    'Chris',
    'Emily',
    'Sarah',
    'John'
]

scores.index = labels

In [31]:
scores

Jackson    4
Peter      5
Chris      6
Emily      7
Sarah      8
John       9
Name: Scores of students, dtype: int32

In [32]:
### Now indexing is by name!
scores['Jackson']

4

#### Creating a series from dictionary

In [33]:
pd.Series({
    'Jackson': 4,
    'Peter': 5,
    'Chris': 6,
    'Emily': 7,
    'Sarah': 8,
    'John':9
})

Jackson    4
Peter      5
Chris      6
Emily      7
Sarah      8
John       9
dtype: int64

In [35]:
pd.Series(np.arange(4, 10), index = labels)

Jackson    4
Peter      5
Chris      6
Emily      7
Sarah      8
John       9
dtype: int32