### Pandas Notes


> - Pandas series is a given sequence of data indexed by a given index indentifier, that could be a number, string or date, etc..
> - 
> - 

<img src="pandas.png" width="300" height = "300">

## Import Packages

In [2]:
import pandas as pd
import numpy as np

### Pandas - Series

In [8]:
scores = pd.Series(np.arange(4, 10))
scores

0    4
1    5
2    6
3    7
4    8
5    9
dtype: int32

#### Naming a series - for better documentation

In [9]:
scores.name = "Scores of students"
scores

0    4
1    5
2    6
3    7
4    8
5    9
Name: Scores of students, dtype: int32

#### Values of a series

In [10]:
scores.values

array([4, 5, 6, 7, 8, 9])

#### Accessing & Slicing
they are the same as NumPy Fundamenals

In [15]:
scores[0]

4

In [14]:
scores[0:3]

0    4
1    5
2    6
Name: Scores of students, dtype: int32

#### Index of a series

In [16]:
scores.index

RangeIndex(start=0, stop=6, step=1)

#### Changing the index 'lables' of a series

In [30]:
labels = [
    'Jackson', 
    'Peter',
    'Chris',
    'Emily',
    'Sarah',
    'John'
]

scores.index = labels

In [31]:
scores

Jackson    4
Peter      5
Chris      6
Emily      7
Sarah      8
John       9
Name: Scores of students, dtype: int32

In [32]:
### Now indexing is by name!
scores['Jackson']

4

#### Creating a series from dictionary

In [33]:
pd.Series({
    'Jackson': 4,
    'Peter': 5,
    'Chris': 6,
    'Emily': 7,
    'Sarah': 8,
    'John':9
})

Jackson    4
Peter      5
Chris      6
Emily      7
Sarah      8
John       9
dtype: int64

In [35]:
pd.Series(np.arange(4, 10), index = labels)

Jackson    4
Peter      5
Chris      6
Emily      7
Sarah      8
John       9
dtype: int32

### First and Last nth rows from the dataset (by default, n = 5)

In [ ]:
df.head()

In [ ]:
df.tail()

## Information about dataframe
- #Rows and #Columns
- Basic Info
- Summary Statistics
- NULLS 
- Duplicates

In [54]:
df = pd.read_csv('medical_examination.csv')

### Number of Rows and Columns

In [38]:
df.shape

(70000, 13)

### Columns, Non-Null Count and Datatype.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

### Summary Statistics of each column in the dataset.

In [5]:
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349843,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.477253,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,3.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

### Number of NULLs for each column.

In [7]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

### Number of NOT NULLS for each column.

In [11]:
df.notnull().sum()

id             70000
age            70000
gender         70000
height         70000
weight         70000
ap_hi          70000
ap_lo          70000
cholesterol    70000
gluc           70000
smoke          70000
alco           70000
active         70000
cardio         70000
dtype: int64

```py
### Pandas treatment of np.nan and None

# single argument, returns single boolean value
# series as argument, returns boolean series
# dataframe as argument, returns boolean dataframe

```

In [22]:
pd.isna(np.nan)

True

In [23]:
pd.isna(np.nan)

True

In [20]:
pd.isnull(np.nan)

True

In [24]:
pd.isnull(None)

True

In [29]:
pd.isnull(pd.Series([1, None, 2]))

0    False
1     True
2    False
dtype: bool

In [30]:
pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3]
}))

   Column A  Column B
0     False      True
1      True     False
2     False     False

### Number of Duplicate rows.

In [78]:
# boolean series indicate if a row is duplicate 'true'
# or not duplicate 'false'
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
69995    False
69996    False
69997    False
69998    False
69999    False
Length: 70000, dtype: bool

In [10]:
df.duplicated().sum()

0

## Reading from External Resources (JSON)

### From JSON

**First way**
```py
filepath = os.path.join(path, "filename.extension") # .txt / .JSON
listOfJSONObjects = []

with open(filepath) as JSONObjects:
    for JSONObject in JSONObjects:
        json = json.loads(JSONObject)
        listOfJSONObjects.append(json)
        
        
df = pd.DataFrame(listOfJSONObjects)
```

**Second way**

```py
# assume filepath exists
df = pd.read_json(filepath, lines = true)
```

## Series Tricks

In [39]:
calories = {"day1": 430, "day2": 380, "day3": 390, "day4":450, "day5": 230}
series = pd.Series(calories)
series

day1    430
day2    380
day3    390
day4    450
day5    230
dtype: int64

### The maximum value of a series

In [40]:
series.max()

450

### The name (index) of the maximum value in a series

In [37]:
series.idxmax()

'day4'

### Percentage of each element in a series

In [46]:
cities = {"name": ["London", "Berlin", "Madrid", "Rome", 
                   "Paris", "Vienna", "Bucharest", "Hamburg", 
                   "Budapest", "Warsaw", "Barcelona", 
                   "Munich", "Milan"],
          "population": [8615246, 3562166, 3165235, 2874038,
                         2273305, 1805681, 1803425, 1760433,
                         1754000, 1740119, 1602386, 1493900,
                         1350680],
          "country": ["England", "Germany", "Spain", "Italy",
                      "France", "Austria", "Romania", 
                      "Germany", "Hungary", "Poland", "Spain",
                      "Germany", "Italy"]}

city_frame = pd.DataFrame(cities)
city_frame

         name  population  country
0      London     8615246  England
1      Berlin     3562166  Germany
2      Madrid     3165235    Spain
3        Rome     2874038    Italy
4       Paris     2273305   France
5      Vienna     1805681  Austria
6   Bucharest     1803425  Romania
7     Hamburg     1760433  Germany
8    Budapest     1754000  Hungary
9      Warsaw     1740119   Poland
10  Barcelona     1602386    Spain
11     Munich     1493900  Germany
12      Milan     1350680    Italy

In [65]:
# 0.xxxxxx
city_frame.country.value_counts(normalize = True)

Germany    0.230769
Italy      0.153846
Spain      0.153846
Romania    0.076923
England    0.076923
Austria    0.076923
Poland     0.076923
France     0.076923
Hungary    0.076923
Name: country, dtype: float64

In [66]:
# XX.xxxxxxx
city_frame.country.value_counts(normalize = True) * 100

Germany    23.076923
Italy      15.384615
Spain      15.384615
Romania     7.692308
England     7.692308
Austria     7.692308
Poland      7.692308
France      7.692308
Hungary     7.692308
Name: country, dtype: float64

In [67]:
# XX.xxxxx
round(city_frame.country.value_counts(normalize = True) * 100, 1)

Germany    23.1
Italy      15.4
Spain      15.4
Romania     7.7
England     7.7
Austria     7.7
Poland      7.7
France      7.7
Hungary     7.7
Name: country, dtype: float64

### Finding unique values of a series

In [72]:
city_frame.country.values

array(['England', 'Germany', 'Spain', 'Italy', 'France', 'Austria',
       'Romania', 'Germany', 'Hungary', 'Poland', 'Spain', 'Germany',
       'Italy'], dtype=object)

In [76]:
len(city_frame.country)

13

In [74]:
city_frame.country.unique()

array(['England', 'Germany', 'Spain', 'Italy', 'France', 'Austria',
       'Romania', 'Hungary', 'Poland'], dtype=object)

In [77]:
len(city_frame.country.unique())

9